.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 96%;
  letter-spacing: -0.04em;
}

.header__caption {
  margin-bottom: 28px;
}

.header__logo {
  width: 139px;
  height: 33px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__navbar-btn {
  height: 44px;
  width: 44px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border: none;
  visibility: hidden;
  margin-left: auto;
}

.header__navbar-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.header__mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 16px;
  background-color: #fff;
  z-index: 9;
  max-width: 1280px;
}

.header__mobile-nav_closed {
  background: #ffffff;
  top: 60px;
  z-index: 8;
  right: 0px;
  border-radius: 0px 0px 10px 10px;
  display: none;
}

.header__wrapper {
  position: relative;
  top: 300px;
  margin-top: -220px;
}

@media screen and (max-width: 900px) {
  .header__navbar-btn {
    visibility: visible;
  }
  .header__mobile-nav {
    position: fixed;
    margin: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-template-areas: 
    "logo btn"
    "links links";
  }
  .header__mobile-nav_opened {
    grid-area: links;
  }
}
