.meetingCard__img {
  max-width: 414px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 0px 10px 10px 0px;
}
.meetingCard__header {
  padding: 0 0px 32px 0;
  margin: 0;
}
.meetingCard__text {
  margin: 0;
  padding-bottom: 60px;
}
