.navbar {
  align-content: center;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  z-index: 7;
  transition: top 0.4s;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
  width: 100%;
}

.navbar__link-calc {
  width: 104px;
}

.navbar__link-wall {
  width: 157px;
}

.navbar__link-factory {
  width: 205px;
}

.navbar__link-recycle {
  width: 177px;
}

.navbar__link-caption {
  margin-top: 12px;
  margin-bottom: 0;
}

.navbar__meeting-btn {
  align-self: flex-end;
  margin-right: -25px;
  grid-area: btn;
}

.navbar__meeting-btn:hover {
  cursor: pointer;
  background: #d2390e;
}

@media screen and (max-width: 1000px) {
  .navbar__links {
    flex-wrap: wrap;
    row-gap: 48px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    position: static;
  }
  .navbar__links {
    display: grid;
    grid-template-areas:
      "calc wall"
      "factory recycle"
      "btn btn";
    justify-content: space-around;
  }
  .header__mobile-nav_bg:hover {
    cursor: pointer;
  }
  .header__mobile-nav:hover {
    cursor: default;
  }
}
