.navbar {
  align-content: center;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  z-index: 7;
  transition: all 0.4s;
}

.navbar-scroll_shown {
  box-shadow: 0 4px 2px -2px #54585b;
}

.navbar-logo {
  width: 139px;
  height: 33px;
  transition: opacity 0.4s;
  opacity: 0;
}

.navbar-logo_shown {
  opacity: 1;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
  width: 100%;
  padding-top: 30px;
}

.navbar__link-calc {
  max-width: 104px;
}

.navbar__link-wall {
  max-width: 157px;
}

.navbar__link-factory {
  max-width: 150px;
}

.navbar__link-recycle {
  max-width: 150px;
}

.navbar__link-caption {
  margin-top: 12px;
  margin-bottom: 0;
}

.navbar__meeting-btn {
  align-self: flex-end;
  margin-right: -25px;
  grid-area: btn;
}

.navbar__meeting-btn:hover {
  cursor: pointer;
  background: #d2390e;
}

@media screen and (max-width: 1000px) {
  .navbar__links {
    flex-wrap: wrap;
    row-gap: 48px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    position: static;
  }
  .navbar__links {
    display: grid;
    grid-template-areas:
      "calc wall"
      "factory recycle"
      "btn btn";
    justify-content: space-around;
    column-gap: 20px;
  }
  .header__mobile-nav_bg:hover {
    cursor: pointer;
  }
  .header__mobile-nav:hover {
    cursor: default;
  }
}

@media screen and (max-width: 425px) {
  .navbar__link {
    max-width: 100px;
  }
}
