.section__marker-icon {
    align-self: center;
    margin-left: 8px;
}

.section__recycle-icons {
    width: 535px;
    margin: 131px 108px 57px auto;

}

.section__caption_center {
    text-align: center;
}